@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.post h2 {
  margin-top: 0;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;}